<nav class="main-nav">
  <ul>
    <li><%= link_to 'Home', root_path%></li>
    <% @global_teams.each do |team| %>
      <li class="<%= team == @team ? 'selected' : ''%>">
        <%= link_to team.name, team%>
      </li>
    <% end %>
    <% @global_pages.each do |page| %>
      <li><%= link_to page.title, page_path(page)%></li>
    <% end %>
  </ul>
</nav>

  <% unless @team.body.blank? %>
    <section class="team-body">
      <%# Crucial to sanitize %>
      <%= sanitize @team.body.html_safe, tags: accepted_tags, attributes: accepted_attributes %>
    </section>
  <% end %>

<section>
  <h2>Latest posts.</h2>
  <%= render partial: "shared/posts", locals: {posts: @team_posts} %>
</section>
