<% if @schedule.nil? %>
  <em class="no-content-warning">No current schedule</em>
<% else %>
<% # TODO: notify user when a schedule is about to expire and link him to successor schedule %>
  <div class="current-schedule">
    <nav class="main-nav">
      <ul>
        <% @days_of_week.each do |day, i| %>
          <li id="<%= day.downcase %>" class="tablinks" onclick="openTab(event, '<%= day %>')">
            <%= day %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

    <% @days_of_week.each do |day, i| %>
      <div id="<%= day %>" class="tabcontent">
        <% if @schedule.assignments_on(i).empty? %>
        <em class="no-content-warning">Nothing scheduled</em>
        <% end %>
        <% @schedule.assignments_on(i).order(start_time: :asc).each do |assignment| %>
        <div> (
          <%= format_time(assignment.start_time) %>
          -
          <%= format_time(assignment.end_time) %>
          )
          <%= link_to assignment.show.title, show_path(assignment.show)%>
        </div>
        <% end %>
      </div>

    <% end %>

    <br><br>
    <% if (@schedule.end_date - Date.today).to_i <= 10 %>
      <p>This schedule will be valid until <%= format_date @schedule.end_date %></p>
      <% unless @schedule.next_schedule.nil? %>
        <p>Then it will be replaced by <%= link_to 'this one', next_schedule_path %></p>
      <% end %>
      <p></p>
    <% end %>

<% end %>


<script>
// Get the element with id="defaultOpen" and click on it
  document.getElementById("<%= Date.today.strftime("%A").downcase %>").click();
</script>
