<aside>
  <label for="top-toggler" class="expand-top">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </label>
  <%= link_to root_path do %>
    <%= image_tag 'logo-white.png', class: 'logo-white' %>
  <% end %>
  <div data-turbolinks-permanent id="player">
    <div class="on-air">
      <%= image_tag 'default-cover.png', id: 'player-default-picture'%>
      <img src="" style="display:none;" id="player-picture">

      <div class="on-air-info">
        <div>
          <h4 id="player-status">FreshSounds</h4>
          <p id="player-title">Best music from FreshAir</p>
          <a href="#" id="player-details" style="display:none;">Details</a>
          <span id="player-space" style="display:none;">&nbsp;</span>
          <%= link_to 'View shows', shows_path %><br>
        </div>
        <div class="player-buttons">
          <%= link_to 'Schedule', current_schedule_path, class: 'button button-transparent' %>
          <span id="audio-control" class="button button-blue">
            <span id="play-icon"><i class="fa fa-play" aria-hidden="true"></i></span>
            <span id="audio-control-txt">Play now</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <section class="events">
    <% if events.size > 0 %>
      <h2>Upcoming events.</h2>
      <% events.each do |event| %>
        <div class="event">
          <%= link_to event.name, event_path(event) %>
          <span class="date"><%= format_date_small event.start %></span>
        </div>
      <% end %>
    <% end %>
  </section>

  <section class="twitter">
    <h2>Twitter feed.</h2>
    <%= render partial: 'shared/tweet', collection: tweets, as: :tweet %>
  </section>

  <section class="message-studio">
    <h2>Message studio.</h2>
    <form>
      <input id="message-author" type="text" name="" value="" placeholder="Type name, press enter">
      <input id="message-content" type="text" name="" value="" placeholder="Type message, press enter">
      <div id="message-info">
      </div>
    </form>
  </section>

  <!-- <hr>
  <div class="waverley-care-logo"><a href="#"><img src="waverley_care.jpg" alt="Waverley Care"></a></div> -->
</aside>
