<nav class="main-nav">
  <ul>
    <li class="selected"><%= link_to 'Home', root_path%></li>
    <% @global_teams.each do |team| %>
      <li>
        <%= link_to team.name, team%>
      </li>
    <% end %>
    <% @global_pages.each do |page| %>
    <li><%= link_to page.title, page_path(page)%></li>
    <% end %>
  </ul>
</nav>

<% if flash.any? %>
  <%= render 'shared/messages', locals: {messages: flash} %>
<% end %>

<% unless SettingsService.get('home-header').nil? %>
  <section class="content-header">
    <%# Crucial to sanitize %>
    <%= sanitize SettingsService.get('home-header').html_safe, tags: accepted_tags, attributes: accepted_attributes %>
  </section>
<% end %>


<section class="home-grid">
  <%# The following is not very DRY but allows for treating each position differently if we ever need to %>
  <% unless @highlights.first.nil? %>
    <%= link_to @highlights.first[:element], class:'element pos-1' do %>
      <div class="filter"></div>
      <div class="pic">
        <% unless @highlights.first[:pic].nil? %>
          <%= image_tag @highlights.first[:pic] %>
        <% else %>
          <%= image_tag 'bg/dummy-1.png' %>
        <% end %>
      </div>
      <div class="title-wrapper">
        <div class="title">
          <%= @highlights.first[:title] %>
        </div>
      </div>
    <% end %>
    <% else %>
      <%= link_to '#', class:'element pos-1' do %>
        <div class="filter"></div>
        <div class="pic">
          <%= image_tag 'bg/dummy-1.png' %>
        </div>
        <div class="title-wrapper">
          <div class="title">
            Content goes here
          </div>
        </div>
      <% end %>
    <% end %>

  <% unless @highlights.second.nil? %>
    <%= link_to @highlights.second[:element], class:'element pos-2' do %>
      <div class="filter"></div>
      <div class="pic">
        <% unless @highlights.second[:pic].nil? %>
          <%= image_tag @highlights.second[:pic] %>
        <% else %>
          <%= image_tag 'bg/dummy-2.png' %>
        <% end %>
      </div>
      <div class="title-wrapper">
        <div class="title">
          <%= @highlights.second[:title] %>
        </div>
      </div>
    <% end %>
    <% else %>
      <%= link_to '#', class:'element pos-2' do %>
        <div class="filter"></div>
        <div class="pic">
          <%= image_tag 'bg/dummy-2.png' %>
        </div>
        <div class="title-wrapper">
          <div class="title">
            Content goes here
          </div>
        </div>
      <% end %>
    <% end %>


  <% unless @highlights.third.nil? %>

    <%= link_to @highlights.third[:element], class:'element pos-3' do %>
      <div class="filter"></div>
      <div class="pic">
        <% unless @highlights.third[:pic].nil? %>
          <%= image_tag @highlights.third[:pic] %>
        <% else %>
          <%= image_tag 'bg/dummy-3.png' %>
        <% end %>
      </div>
      <div class="title-wrapper">
        <div class="title">
          <%= @highlights.third[:title] %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to '#', class:'element pos-3' do %>
      <div class="filter"></div>
      <div class="pic">
        <%= image_tag 'bg/dummy-3.png' %>
      </div>
      <div class="title-wrapper">
        <div class="title">
          Content goes here
        </div>
      </div>
    <% end %>
  <% end %>

</section>

<section class="latest-posts">
  <div class="latest-posts-line">
    <%= link_to posts_path, class: 'post-collection-link' do %>
      <h2>Latest posts.</h2>
    <% end %>
    <div>
      <% @post_types.each_with_index do |type, index| %>
        <%= link_to type.name, type, class: 'post-type' %>
        <%= bar_separator(index, @post_types.count) %>
      <% end %>
      <i class="fa fa-tags" aria-hidden="true"></i>
    </div>
  </div>
  <%= render partial: "shared/posts", locals: {posts: @latest_posts, pics: false} %>
</section>
