<h1><%= @event.name %></h1>
<span class="date-label">
  <i class="fa fa-clock-o fa-grey" aria-hidden="true"></i>
  <% if @event.single_day? %>
    <%= format_date  @event.start %> <%= format_time @event.start %>
    <% if not @event.end.nil? %>
      - <%= format_time @event.end %>
    <% end %>
  <% else %>
    <%= format_date  @event.start %> <%= format_time @event.start %>
    - <%= format_date @event.end %> <%= format_time @event.start %>
  <% end %>
</span>
<br>

<i>(<%= @event.location %>)</i>
<br><br>
<% # Sanitizing is crucial to protect against bad code! %>
<p><%= sanitize @event.description.html_safe, tags: accepted_tags, attributes: accepted_attributes %></p>
<br>
<div class="event-links">
  <% if not @event.facebook_event.blank? %>
  <%= link_to 'Facebook event', @event.facebook_event, target: '_blank' %> <br>
  <% end %>
  <% if not @event.link_to_tickets.blank? %>
  <%= link_to 'Get tickets', @event.link_to_tickets, target: '_blank' %>
  <% end %>
</div>
