<div class="show">
  <% if @show.pic.resized.url.nil? %>
    <%= image_tag 'default-cover-grey.png' %>
  <% else %>
    <%= image_tag @show.pic.resized.url %>
  <% end %>

  <div class="show-body">
    <div class="title-line">
      <h1><%= @show.title %></h1>

      <!-- Only display tag line if there is one (it's not mandatory) -->
      <% unless @show.blank?  %>
      <i class="tag-line">
        - <%= @show.tag_line %><br>
      </i>
      <% end %>
    </div>


    <% unless @show.broadcast_times.nil? %>
    <span class="date-label">
      <i class="fa fa-clock-o fa-grey" aria-hidden="true"></i>
      <%= @show.broadcast_times[:day] %>
      <%= @show.broadcast_times[:start] %> -
      <%= @show.broadcast_times[:end] %>
    </span>
    <% end %>
    <div class="description">
      <%= @show.description %>
    </div>

    <% unless @show.show_memberships.blank? %>
      <div class="hosts">
          Hosted by

        <% @show.show_memberships.each_with_index do |membership, index| %>
          <%= membership.user.name %><%= conjunction index, @show.show_memberships.size %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<br>
<% unless @show.podcasts.blank? %>
  <h2>Podcasts.</h2>
  <% @show.podcasts.each do |podcast| %>
    <div class="podcast-link">
    <%= link_to url_for([@show, podcast]) do %>
      <%= format_date_small podcast.broadcast_date %>
      <% unless podcast.title.blank? %>
      - <%= podcast.title %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>
