<div class="show">
  <% if @show.pic.resized.url.nil? %>
    <%= image_tag 'default-cover-grey.png' %>
  <% else %>
    <%= image_tag @show.pic.resized.url %>
  <% end %>

  <div class="show-body">
    <h1><%= @show.title %></h1>

    <!-- Only display tag line if there is one (it's not mandatory) -->
    <% unless @show.tag_line.blank?  %>
    <i class="tag-line">
      <%= @show.tag_line %><br>
    </i>
    <% end %>

    <div class="labels">
      <% if @show.hub_show? %>
        <div class="label hub-show-label">
          Hub show
        </div>
      <% end %>

      <% unless @show.broadcast_times.nil? %>
        <span class="label date-label">
          <i class="fa fa-clock-o fa-grey" aria-hidden="true"></i>
          <%= @show.broadcast_times[:day] %>
          <%= @show.broadcast_times[:start] %> -
          <%= @show.broadcast_times[:end] %>
        </span>
      <% end %>
    </div>

    <div class="description">
      <%= @show.description %>
    </div>

    <!-- If it's a hub show, don't display hosts -->
    <% unless @show.show_memberships.blank? || @show.hub_show? %>
      <div class="hosts">
          Hosted by

        <% @show.show_memberships.each_with_index do |membership, index| %>
          <%= membership.user.name %><%= conjunction index, @show.show_memberships.size %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<br>
<div class="show-content">
  <% if @show.podcasts.blank? && @show.posts.blank? %>
    <em class="simple-notice">This show hasn't published content yet</em>
  <% end %>
  <% unless @show.podcasts.blank? %>
    <section class="podcasts">
      <h2>Podcasts.</h2>
      <% @show.podcasts.each do |podcast| %>
      <div class="podcast-link">
        <%= link_to url_for([@show, podcast]) do %>
          <%= format_date_small podcast.broadcast_date %>
          <% unless podcast.title.blank? %>
            - <%= podcast.title %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
  <% end %>

  <% unless @show_posts.blank? %>
    <section>
      <h2>Posts.</h2>
      <% @show_posts.each do |post| %>
        <div class="podcast-link">
          <%= link_to post do %>
            <%= format_date_small post.created_at %>
              <%= post.title %>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
