<!DOCTYPE html>
<html>
<head>
  <title>FreshAir.org.uk <% unless @title.nil?%> <%= '> ' + @title %><% end %></title>
  <meta name='description' content="Edinburgh's student radio station, bringing you top shows and the latest in music, arts and news live from the heart of the city.">

  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, feed_path(:format => :rss) %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render "shared/google_analytics" %>

</head>

<body>
  <input type="checkbox" id="top-toggler" value="">
  <%= render partial: "shared/aside", locals: {events: @upcoming_events, tweets: @tweets} %>
  <div id="main-body">
    <header>
      <div class="welcome">
        <%= link_to root_path do %>
        <%= image_tag 'logo.png', class: 'logo', alt: 'FreshAir.org.uk'%>
        <% end %>

        <div class="welcome-text">Welcome to FreshAir.org.uk, Edinburgh’s student radio station.</div>
      </div>


      <div class="ext">
        <div class="social">
          <a href="https://www.facebook.com/FreshAirorguk-223159361033540/" target="_blank"><%= image_tag 'ext/facebook2.png', alt: 'FreshAir'%></a>
          <a href="https://twitter.com/FreshAirRadio" target="_blank"><%= image_tag 'ext/twitter2.png', alt: 'FreshAir'%></a>
          <%= link_to feed_path(format: :rss), class: 'feed' do %>
            <%= image_tag 'ext/rss.png', alt: 'FreshAir'%></a>
          <% end %>
        </div>
        <a class="sponsor" href="<%= root_url %>about/waverley-care">
          <%= image_tag 'waverley_care.png', width: '120', alt: 'Waverley Care'%>
        </a>
      </div>
    </header>

      <div id="content">
        <%= yield %>
      </div>
      <footer>
        <div>
          <span>FreshAir © <%= Date.today.year %> |</span>
          <% if signed_in? %>
            <%= link_to 'Dashboard', admin_root_path %>
            | <%= link_to 'Edit account', edit_user_registration_path %>
          <% else %>
            <%= link_to 'Members Access', admin_root_path %>
          <% end %>
        </div>
        <div>
          <%= link_to 'Join the techteam!', techteam_path, class: 'join-techteam-link' %>&nbsp;&nbsp;&nbsp;
          <%= link_to 'Report an issue', issue_path %>
        </div>
      </footer>

  </div>
</body>
</html>
