<!DOCTYPE html>
<html>
<head>
  <title>FreshAir.org.uk <% unless @title.nil?%> <%= '> ' + @title %><% end %></title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'listen' %>
</head>
<body>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
  <script type="text/javascript" charset="utf-8">
    FB.Canvas.setSize({ width: 800, height: 500 });
  </script>
  <div class="player-wrapper">
    <%= yield %>
  </div>
</body>
</html>
