<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
    <%= render 'shared/messages', locals: {type: :alert} do %>
      <%= devise_error_messages! %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, placeholder: 'First name' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: 'Last name' %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm password' %>
  </div>

  <fieldset>
   <legend>Who are you?</legend>
     <% RolesService.public_roles.each do |role, description|%>
     <div class="field">
       <%= check_box_tag 'user[_roles][]', role, false %>
       <%= f.label description %>
     </div>
    <% end %>
   </fieldset>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
