<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
    <%= render 'shared/messages', locals: {type: :alert} do %>
      <%= devise_error_messages! %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, placeholder: 'First name' %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: 'Last name' %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm password' %>
  </div>

  <fieldset>
    <legend>Select your roles</legend>
      <% Role.public_roles.each do |role, description|%>
        <div class="field">
          <%= check_box_tag 'user[_roles][]', role, false %>
          <%= f.label description %>
        </div>
      <% end %>
  </fieldset>
  <br>
  <div class="field">
    <%=
      select_tag 'user[_show]',
        content_tag(
          :option,
          'Select a show (if you\'re in one)',
          value: 'nil'
        ) +
          options_from_collection_for_select(Show.not_hub_shows, "id", "title")
    %>
    <%=
      select_tag 'user[_team]',
        content_tag(
          :option,
          'Select a team (if you\'re in one)',
          value: 'nil'
        ) +
          options_from_collection_for_select(Team.all, "id", "name")
    %>
    <%= check_box_tag 'user[team_manager?]', 'true', false %>
    <%= f.label 'Head of that team?' %>
  </div><br>

    <div class="messages messages-notice inline" >The account email will need to be confirmed and the account approved by the webmaster before you're allowed access. If you need any further privileges after you sign up, please get in touch with the webmaster.</div>





  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
